.Logo{
    height: 200px;
 
}
body{
    background-color: rgb(241,234,226,255);
    color: rgba(53, 31, 17, 0.719);
    display: flexbox;
    place-items: center;
}
.grande {
  font-size: 24px;
  word-spacing:3px;
}
.grande1 {
  font-size: 24px;
  word-spacing: 3px;
}
.late{
    height: 200px;
    width: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
 
}
.capu{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.capuca{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.milk{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.tata{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.moraazul{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.mora{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.moras{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.macha2{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.limonada{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.macha{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.verde{
    height: 200px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.Fo{
    background-color: aliceblue;
}